body {
    background-color:lightgoldenrodyellow;
}

h1 {
    font-family: 'Tangerine', serif;
    font-weight: 400;
    font-size:64px;
    text-shadow: 4px 4px 4px #aaa;
}

p {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 20px;
}